<div class="card">
    <h2>Create a new Quiz!</h2>

    <div class="button-container">
        <a href="/newquiz#card-form-1" class="card-button"></a>
        <a href="/newquiz#card-form-2" class="card-button"></a>
        <a href="/newquiz#card-form-3" class="card-button"></a>
        <a href="/newquiz#card-form-4" class="card-button"></a>
    </div>

    <span id="card-form-1"></span>
    <span id="card-form-2"></span>
    <span id="card-form-3"></span>
    <span id="card-form-4"></span>

    <div class="form-container">
        <app-form1 class="card-form"></app-form1>
        <app-form2 class="card-form"></app-form2>
        <app-form1 class="card-form"></app-form1>
        <app-form1 class="card-form"></app-form1>
    </div>
</div>