
.main{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/../assets/img/login.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}
.CreateQuiz, .TrueFalse, .MulitpleChoice{
  width: 25rem;
  height: 29.375rem;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 4.375rem 1.875rem;
  text-align: center;
  opacity: 0.9;
  align-items: center;
}

.TrueFalse{
  height: 29.375rem;
}

.MulitpleChoice{
  height: 50rem;
}

.selectQuestions{
  width: 25rem;
  height: 21.875rem;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 4.375rem 1.875rem;
  text-align: center;
  opacity: 0.9;
  align-items: center;
}

.selectQuestions button{
  border: none;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 1.125rem;
  border-radius: 1.25rem;
  background: rgb(84,57,129);
  font-weight: bold;
}

.selectQuestions button:hover{
  background: rgb(159, 59, 59);
}



.CreateQuiz input{
  width: 100%;
  margin-bottom: 1.25rem;
}

.CreateQuiz input[type="text"], input[type="datetime-local"]{
  margin: 0rem;
  border: none;
  border-bottom: 0.063rem solid #fff;
  background: rgba(114, 82, 82, 0.2);
  outline: none;
  height: 2.5rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.CreateQuiz button[type="submit"]:hover{
  cursor: pointer;
  background: rgb(159, 59, 59);
  color:#000
}

.CreateQuiz button{
  border: none;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 1.125rem;
  border-radius: 1.25rem;
  background: rgb(84,57,129);
  font-weight: bold;
}

h1{
  margin: 0;
  padding: 0 0 1.25rem;
  text-align: center;
  font-size: 1.875rem;

}

label{
  margin: 3.125rem;
}



