<form [formGroup]="quizForm" (ngSubmit)="onSubmit(quizForm.value)" *ngIf="!created">
    <div>
      <h1>Start your Quiz</h1>
        <br>
        <br>

      <label for="quizName">
            Enter Quiz Name
        </label>
        <br>
        <br>

        <input id="quizName" type="text" formControlName="quizName" placeholder="Enter Quiz Name">
    </div>
    <br>
    <br>
    <div>
        <label for="startDateTime">
            Start Date Time
        </label>
        <br>
        <br>
        <input id="startDateTime" type="datetime-local" formControlName="startDateTime">
    </div>
    <br>
    <button class="button" type="submit">Create Quiz</button>


  </form>

  <form *ngIf="showChoice" class="selectQuestions">
    <div *ngIf="showChoice">
      <h1>Choose your Question</h1>
      <br><br>
      <button class="button" (click)="showTF()">True/False Question </button>
      <br>
      <br>
      <button class="button" (click)="showMultiple()">Multiple Choice Question </button>
      <br>
      <br>
      <button class="button" routerLink="/dashboard" routerLinkActive="active">End Quiz </button>

  </div>
</form>
  <div class="TrueFalse" *ngIf="enterTF">
      <app-tfquestion (data)="addTFQuestion($event)"> </app-tfquestion>
  </div>

  <div class="MulitpleChoice" *ngIf="enterMulti">
      <app-multiple-choice-questions (data)="addMultipleChoiceQuestion($event)"> </app-multiple-choice-questions>
  </div>





