<h1>
  {{team.teamName}}
</h1>
<h2>
  Score: {{team.teamScore}}
</h2>

<h3>Captain</h3>
<section *ngIf="captain">
  <p>{{captain.captain}}</p>
  <p>{{captain.name}}</p>
  <p>{{captain.surname}}</p>
  <p>{{captain.email}}</p>
</section>

<h3>Members</h3>
<p *ngIf="teamMembers.length === 0">No members in team</p>
<ul>
  <li *ngFor="let member of teamMembers">
    <p>{{member.captain}}</p>
    <p>{{member.name}}</p>
    <p>{{member.surname}}</p>
    <p>{{member.email}}</p>
    <button title="delete member" (click)="removeMember(member)">Remove</button>
  </li>
</ul>

<app-team-add-member [team]="team"></app-team-add-member>
