/node_modules
/.firebase

/QuizMakerAngular/src/environments/environment.ts
/QuizMakerAngular/src/environments/firebase.json
/QuizMakerAngular/src/environments/firebase.json
/QuizMakerAngular/src/environments/environment.ts
/QuizMakerAngular/firebaseadmin.json
/QuizMakerNode/firebaseadmin.json
/QuizMakerNode/firebasesettings.json
/QuizMakerNode/config.js