/QuizMakerAngular/src/environments/firebase.json

# Config files
QuizMakerAngular/firebase.json
QuizMakerAngular/firebaseadmin.json
QuizMakerAngular/firebasesettings.json
QuizMakerAngular/.vscode/launch.json
QuizMakerAngular/config.js

/node_modules
/.firebase

/QuizMakerAngular/src/environments/environment.ts
/QuizMakerAngular/src/environments/firebase.json
/QuizMakerAngular/src/environments/firebase.json
/QuizMakerAngular/src/environments/environment.ts
/QuizMakerNode/firebaseadmin.json
/QuizMakerNode/firebasesettings.json
/QuizMakerNode/config.js
/QuizMakerNode/.vscode/settings.json
/QuizMakerAngular/.firebase/
