.main{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 20;
  background-image: url("/assets/img/login.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.left{
  margin: 0;
  width: 50%;
  height: 98%;
  float: left;
  text-align: center;

}

.right{
  margin: 0;
  width: 50%;
  height: 98%;
  float: right;
  text-align: center;
}

.leftContent, .rightContent{
  margin: 20px;
  height: 90%;
  overflow: hidden;
  background:rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 20px;
}

.topnav {
  background-color: #000;
  overflow: hidden;

}

.topnav a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo{
  max-width: 300px;
  overflow: hidden;
  border-radius: 30%;
  margin: 20px;
}

.leftContent h1, .rightContent h1{
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin: 100px;
  font-family: sans-serif;
}

.leftContent p{
  font-size: 30px;
  color: white;
  margin: 100px;
  font-weight: bold;
  font-family: sans-serif;
}

.container {
  display: block;
  height: 100%;
  width: 40%;
  padding: 10px;
}
