
<div>
<h3>Your Quizzes</h3>
<div class="container">
    
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Event Name</th>
            <th>Your Role</th>
            <th>When</th>
            
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Quizz night</td>
          <td>Player</td>
          <td>Now</td>
          
        </tr>
        <tr>
            <td>Quizz night</td>
            <td>Player</td>
            <td>Now</td>
            
          </tr>
          <tr>
            <td>Quizz night</td>
            <td>Player</td>
            <td>Now</td>
            
          </tr>
      </tbody>
    </table>
  </div>
<div class="buttons">
  <button class="btn Create">Create New Quizz</button>
  <button class="btn Join">Join Existing  Quizz</button>
</div>

</div>





