 <!-- <div>

  
    <app-header></app-header>
    <app-nav></app-nav>
 </div>
 
 
<form [formGroup]="profileForm">

  <app-username name="username"></app-username>
  <app-password name="password"></app-password>


</form>
       
<section>
  <form [formGroup]="Form" class="return" (ngSubmit)="back()">
    <button>back</button>
  </form>
</section>


  
  

  

 -->
 
 <div class="container">
  <app-header></app-header>

  <app-nav></app-nav>
 
  
  <form [formGroup]="profileForm">


      
     
    <app-username name="username"></app-username>
    
  
    <app-password name="password"></app-password>
  

  
  </form>
    
  

  

  

  
</div>