h1, h2{
    color: blueviolet;
    margin-left: 5rem;
}

.join{
    color: green;
}
.reject{
    color:red;
}

button {
    background-color: white;
    border: none;
    color: white;
    padding: 1.2rem 6.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0rem;
    transition-duration: 0.4s;
    cursor: pointer;
   
  }

  .join:hover {
    color:green;
    
  }

  .reject:hover {
    
    color:red;
  }