
<div class="login_body">
    <div class="topnav">
      <a routerLink="/register-user">Sign Up</a>
    </div>
    <div class="login_form">
        <img src="assets/img/avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form action="">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username" #userName required>
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password" #userPassword required>
            <input type="submit" name="" value="Sign In"
                (click)="authService.LogIn(userName.value, userPassword.value)"><br>
            <button class="btn google" data-provider="google" (click)="authService.GoogleAuth()">
                <i class="fab fa-google"></i><span>Google</span></button><br>
            <br>
            <a routerLink="/register-user">Don't have an account? Click here to sign up!</a><br>
            <br>
            <a routerLink="/forgot-password">Forgot your password? Click here to fix that!</a>
        </form>
    </div>
</div>
