:host {
    
    display: block;
    padding: 12px;
    margin-bottom: 12px;
  }

  label, .label {
    font-size: 18px;
    margin-bottom: .5rem;
    display: block;
  }
  /* input, select, textarea {
    margin-bottom: 2rem;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    min-width: 185px;
    background: linear-gradient(to bottom,#f4f4f4 0,#fff 12%);
  } */

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  input[type=submit] {
    background-color: grey;
    color: white;
    width: 75%;
  }

  .user-container {
    background-color: #f1f1f1;
    /* width: 20%; */
    /* margin: 0px auto; */
    /* margin-left: 230px; */
    width: 20rem;
    height: 28rem;
    background: #000;
    color: #fff;
    top: 20rem;
    left: 30rem;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 1rem 2rem;
    text-align: center;
    opacity: 0.9;
  }