
<body class="login_body" [ngStyle]="{background: 'url(assets/img/login.jpg)'}">
<form [formGroup]="detailsForm"  class="user-container" (ngSubmit)="updateUserProfile(detailsForm.value)">
  <h2 class="change-psw">Update User Details</h2>
    <p [ngClass]="{ 'has-error': isSubmitted && formControls.firstname.errors }">
      <input type="text" placeholder="firstname" formControlName="firstname">
    </p>
    <div *ngIf="isSubmitted && formControls.firstname.errors" class="warning">
        <div *ngIf="formControls.firstname.errors.required">Password is required</div>
      </div>
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.firstname.errors }">
        <input type="text" placeholder="lastname" formControlName="lastname">
      </p>
      <div *ngIf="isSubmitted && formControls.lastname.errors" class="warning">
        <div *ngIf="formControls.lastname.errors.required">Confirm Password</div>
      </div>
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.firstname.errors }">
        <input type="email" placeholder="email" formControlName="email">
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors" class="warning">
        <div *ngIf="formControls.email.errors.required">Confirm Password</div>
      </div>
      <input type="submit" value="update">
    </form>

  </body>