.body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/../assets/img/login.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    display: inline-block;
    margin-top: 5rem;
    margin-left: 10rem;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    padding: 1.4rem 2.8rem;
    background-color: inherit;
}

h1, h2{
    color: blueviolet;
    margin-left: 5rem;
}
h3{
    color:blueviolet;
    margin-left: 5rem;
}

p{
    color: cornflowerblue;
    margin-left: 5rem;
}

