<div class="chat-messages">
    <div class="chat-messages-show-container">
      <ul class="chat-messages-show-list" id="message-list" *ngFor="let message of messages">
          <li style="background: white; padding: 15px 30px; margin: 10px;">{{message}}</li>
      </ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" (keyup)="$event.keyCode == 13 && SendMessage()" [(ngModel)]="message">
      <button  class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
    </div>
 </div>