.chat-messages-show-container{
    background: lightgray;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: grey;
 }
 .chat-messages-create-container{
    background:gray;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 0.75rem 0.2rem;
    flex:2;
    width: 60%;
    /* margin: 20px; */
    border: none;
    border-bottom: 1px solid #fff;
    background: rgba(54, 54, 54, 0.8);
    outline: none;
    color: #fff;
    font-size: 16px;
    text-align: center;

 }
 .chat-messages-create-button {
      height: 2rem;
   margin: auto 0.2rem;
    width: 30%;
    background-color: rgb(156, 122, 211);
    font-weight: bold;
 }

 .chat-messages-create-button:hover {
  background: rgb(159, 59, 59);
}

 .message {
   background: white;
   padding: 15px 30px;
   margin: 10px;
   color: black;
 }
