
<div>
<h3>Your Quizzes</h3>
<div class="container">
    
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Event Name</th>
            <th>Your Role</th>
            <th>When</th>
            
          </tr>
      </thead>
      <tbody *ngFor="let quiz of quizzes">
        <tr>
          <td><a routerLink="/quiz-session/{{quiz.quizId}}">{{quiz.quizName}}</a></td>
          <td>
            <div *ngIf="quiz.hostBool == 1; else playerContent">
              Host
            </div>
            <ng-template #playerContent>
              Player
            </ng-template>
          </td>      
          <td>{{quiz.startDateTime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="buttons">
  <button class="btn Create">Create New Quizz</button>
  <button class="btn Join">Join Existing  Quizz</button>
</div>

</div>





